.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;

  background: rgb(48, 131, 255);
  color: white;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 50%;
  list-style: none;
}

.error-logo {
  height: 30vmin;
  pointer-events: none;
}
