.btn {
    background-color: rgb(43, 123, 189);
    color: white;
    border-radius: 10px;

    padding: 16px 32px;
    border: none;

    text-decoration: none;
    cursor: pointer;
    width: 100%;

    margin-top: 10px;
}

.login {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.username,
.password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn:hover {
    opacity: 0.8;
}

.psw {
    float: right;
    display: flex;
}
.container {
    padding-top: 16px;
}

.logo {
    margin-right: 0;
}

.app-name {
    display: flex;
    float: right;
    padding-top: 50px;
    padding-right: 200px;
}
